name: Update

on:
  workflow_dispatch:
  schedule:
    # “At 00:00 on Sunday.” https://crontab.guru/#0_0_*_*_0
    - cron: "0 0 * * 0"

jobs:
  update:
    if: github.event_name != 'schedule' || github.repository == 'sindresorhus/get-east-asian-width'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install
      - run: |
          echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> "$GITHUB_ENV"
          npm run build --print-version > VERSION
          echo "UNICODE_VERSION=$(cat VERSION)" >> "$GITHUB_ENV"
          rm VERSION
      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update to Unicode ${{env.UNICODE_VERSION }}
          title: Update to Unicode ${{env.UNICODE_VERSION }}
          branch: automated-update-${{ env.CURRENT_DATE }}
          branch-suffix: timestamp
